html,
body {
	font-family: 'Archivo Black', sans-serif;
	margin: 0;
	padding: 0;
	text-align: center;
}

#affichage {
	border: 1px solid black;
	border-radius: 5px;
	height: 50px;
	padding: 5px;
	width: 275px;
}

table {
	margin: auto;
}

.button {
	border: 1px solid black;
	border-radius: 5px;
	height: 55px;
	margin: 5px;
	width: 55px;
}

.calculatrice {
	background-color: steelblue;
	border: 1px solid black;
	border-radius: 5px;
	margin: auto;
	padding: 10px;
	width: 300px;
}
