html,
body {
	font-family: 'Archivo Black', sans-serif;
	margin: 0;
	padding: 0;
	text-align: center;
}

#affichage {
	height: 50px;
	width: 275px;
}

form {
	padding-bottom: 25px;
}

.calculatrice {
	background-color: dodgerblue;
	margin: auto;
	padding: 15px;
	width: 325px;
}

table {
	margin: auto;
}

td input {
	height: 50px;
	margin: 5px;
	width: 50px;
}
